* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 45%;
}

:root {
    --main-bg: #1d1d1d;
    --bs-secondary: #6c757d;
    --white: white;

    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-cyan: #0dcaf0;
    --bs-gray-500: #adb5bd;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
}


body {
    background-color: var(--main-bg);
}

.signature__img {
    max-width: 50px;
}

/* .main-navbar {
     filter: blur(9px);
} */

.mobile-nav {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.5em;
    background-color: var(--main-bg);
    z-index: 99;
    overflow: hidden;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
  
.fa-bars {
    color: var(--white);
    cursor: pointer;
}

#amanImg {
    width: 200px;
    border-radius: 100px;
    border: 5px solid var(--bs-cyan);
    
}

.nav__links {
    list-style: none;
}

.nav__link>a {
    text-decoration: none;
    color: black;
}



/* Hero Section */
.hero__intro {
    height: 30vh;
}

.hero--section > .content{
    /* border: 2px solid green; */
    padding-top: 7rem;
}


.hero--section {
    padding: 1em;
}

.hero__intro > h1 {
    color: var(--white);
}

.hero__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 2em; */
}

.hero__section--btn {
    border: none;
    max-width: 150px;
    width: 90%;
    padding: .5em 1em;
    margin: 1em 0;
    border-radius: 5px;
    background-color: #545fc4;
    color: var(--white);
    box-shadow: 0 0 3px #5b5fb7, 0 0 5px #52537e;
    text-decoration: none;
    cursor: pointer;
}

.hero__section--btn:hover {
    background-color: #4a56c2;
    box-shadow: 0 0 5px #6368d7, 0 0 8px #7778b2;

}

.hero__section--btn>a {
    text-decoration: none;
    color: white;
}

.multitext {
    font-weight: 800;
    color: #00a2ed;
    text-transform: capitalize;
}

.text {
    position: relative;
    margin: 0;
    font-size: 2em;
    font-weight: 900;
    color: #fff;
}


/* Portfolio section */
.slogan {
    color: var(--bs-cyan);
    margin: 1em 0 0 .3em;
}

.slogan__line {
    max-width: 400px;
    width: 80%;
    height: 2px;
    background-color: #545fc4;
    margin: .4em 0 1em .3em;
}


.section__portfolio--heading {
    color: var(--bs-cyan);
    margin: 0 0 1em .3em;
}

.section__portfolio>p {
    color: var(--white);
    font-size: .7em;
    padding-top: 1em;
    margin: 0 0 0 .8em;
}


/* Portfolio list content */
.app__portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    margin-top: 2em;
}

.app__portfolio--list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    padding-top: 1em;
}

.app__portfolio--list>h3 {
    font-size: 1em;
    color: var(--white);
}




.app__portfolio--list>p {
    font-size: .7em;
    color: var(--bs-gray-500);
}



.fa-github,
.fa-eye {
    color: var(--white);
}

.app__portfolio--img {
    width: 80%;
}

.app__portfolio--img:hover {
    cursor: pointer;
}

.app__portfolio--view {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 7em;
    width: 50%;
    top: 28%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.app__portfolio--view>a {
    background-color: var(--main-bg);
    padding: .5em;
    border-radius: 50%;
    opacity: 0.75;
}


.hidden {
    display: none;
}

.fa-eye {
    font-size: 30px;
}


/* About Section */
.about--myself>h1 {
    color: var(--bs-cyan);
    margin: 1em 0 0 .3em;
}

.line {
    max-width: 200px;
    width: 80%;
    height: 2px;
    background-color: #545fc4;
    margin: .4em 0 1em .3em;
}

.about--myself>p {
    color: var(--white);
    font-size: .7em;
    padding-top: 1em;
    margin: 0 0 0 0.8em;
}

.about--skillex {
    margin: 4em 0;
}

.about--skillex>h2 {
    color: var(--bs-cyan);
    margin: 1em 0 1em .3em;
}

.about--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}

.about--skillicon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.fa-html5 {
    color: #D84924;
}

.fa-css3-alt {
    color: #146CAE;
}

.fa-square-js {
    color: #e8e822;
}

.fa-git-alt {
    color: #E44C30;
}

.fa-java {
    color: #4D7997;
}

.fa-node {
    color: #7CC327;
}


.about__studies--lists {
    display: flex;
    flex-direction: column;
    gap: 2em;
}


.studies--list {
    background-color: #323863;
    max-width: 20em;
    border-radius: 20px;
    padding: 1em;
}

.studies__list--header {
    display: flex;
    gap: .4em;
}

.fa-graduation-cap {
    color: var(--white);
}

.studies__list--headerdata>h3 {
    color: var(--white);
}

.studies__list--headerdata>p {
    color: var(--white);
    font-size: 13px;
    opacity: .7;
}

.studies--list>p {
    color: #ffffff;
    margin: 0 2.7em;
    opacity: .9;
}

.studies__list--headericon {
    background-color: #000000;
    padding: .6em;
    opacity: .5;
    border-radius: 50%;
}


/* My hobbies */


.about--hobbies>h1 {
    color: var(--bs-cyan);
    margin: 1em 0 0em 0.3em;
}

.about--hobbies>p {
    color: var(--white);
    font-size: .7em;
    padding-top: 1em;
    margin: 0 0 0 0.8em;
}

.hobbies--lists {
    display: flex;
    flex-direction: column;
}


.section__contact>h1 {
    color: var(--bs-cyan);
    margin: 2em 0 0 0.3em;
}

.section__contact>p {
    color: var(--white);
    font-size: .7em;
    padding-top: 1em;
    margin: 0 0 3em 0.8em;
}



/* form */

.contact__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5em;
}



.main__contact>input,
#massage {
    background: #2b2b2b;
    color: #8d8d8d;
    max-width: 500px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 8px;
    padding: 0 20px;
    margin: 10px 0;
    font-size: 16px;
    outline: none;
}

.main__contact>input:hover,
#massage:hover {
    outline: #0d6efd solid 2px;
}

.btn {
    border: none;
    font-size: 17px;
    padding: .5em 1em;
    border-radius: 5px;
    margin: 1.5em 0 0 0;
    color: rgb(77, 0, 0);
    background-color: #00b99c;
    box-shadow: 0 0 3px #51b3a4, 0 0 5px #03daba;
    cursor: pointer;
}

.btn:hover {
    background-color: #00bea2;
    box-shadow: 0 0 5px #51b3a4, 0 0 8px #03daba;

}


.contact__Info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.contact__details {
    padding-top: 5em;
}

.contact__details--item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin: 2em 0;
}

.fa-envelope,
.fa-phone,
.fa-location-dot {
    color: rgb(186, 186, 186);
    font-size: 30px;
}

.contact__details--item>h2 {
    color: rgb(233, 233, 233);
}


.social-icon-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 2em;
    padding-bottom: 4em;
}

.social-icon-footer>i:hover {
    cursor: pointer;
}

.fa-github {
    font-size: 30px;
    cursor: pointer;
}

.fa-linkedin-in {
    font-size: 30px;
    color: #0e76a8;
    cursor: pointer;
}

.fa-hackerrank {
    font-size: 30px;
    color: green;
    cursor: pointer;
}

.fa-twitter {
    font-size: 30px;
    color: #1DA1F2;
}


/* reveal while scrolling */
.section {
    transition: transform 1s, opacity 1s;
}

.section--hidden {
    opacity: 0;
    transform: translateY(8rem);
}







/* Media Query */
@media screen and (min-width: 300px) {
    .mobile-nav {
        padding: 1em;
    }

    .signature__img {
        max-width: 75px;
    }

    .hero__intro {
        padding: 1em;
    }

    .hero__intro>h1 {
        font-size: 4em;
    }

    .app__portfolio--view {
        top: 34%;
    }

    .contact__form {
        display: block;
    }

    .hero__section--btn {
        padding: 1em 1.5em;
    }

    .slogan {
        margin: 2em 0 0 .3em;
        font-size: 30px;
    }

    .slogan__line {
        max-width: 500px;
        width: 95%;
        height: 2px;
        background-color: #545fc4;
        margin: .6em 0 1em .3em;
    }

    .section__portfolio--heading,
    .about--myself>h1 {
        font-size: 28px;
        margin: 1.7em 0 0em 0.3em;
    }

    .about--skillex>h2 {
        font-size: 28px;
        margin: 1.7em 0 2.5em 0.3em;
    }

    .section__portfolio>p,
    .about--myself>p,
    .about--hobbies>p {
        color: var(--white);
        font-size: 16px;
        padding-top: 1em;
        margin: 0 0 0 .8em;
    }

    .section__contact>p {
        font-size: 16px;
    }

    .contact__form,
    .main__contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

@media screen and (min-width: 220px) {
    .hero__intro {
        padding: 1em;
    }

    .hero__intro>h1 {
        font-size: 2.5em;
    }

    .hero__section--btn {
        padding: .7em 1.2em;
    }
    #amanImg{
        width: 170px;
    }
}

@media screen and (min-width: 400px) {
    .app__portfolio--view {
        top: 40%;
    }

    .about--skillicon {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 500px;
        margin: 0 0 5em 0;
        padding: 0em 5em;
        gap: 4em;
    }

    .hero__btn {
        display: flex;
        flex-direction: row;
        margin-top: 2em;
        justify-content: space-around;
        align-content: space-between;
        align-items: center;
    }
    #amanImg{
        width: 170px;
    }
}

@media screen and (max-width: 190px) {
    .studies--list>p {
        color: #ffffff;
        margin: 0 2.7em;
        font-size: 10px;
        opacity: .9;
    }

    .studies__list--headerdata>h3 {
        font-size: 10px;
    }

    .studies--list {
        padding: 0.5em;
    }

    .studies--list>p {
        margin: 0 4.6em;
        margin-top: -11px;
    }
    #amanImg{
        width: 150px;
    }
    .hero__intro{
        height: 40vh;
    }
    .hero--section > .content{
        padding-top: 2.6rem;
        font-size: 1rem;
    }
    .multitext{
        font-size: 2rem;
    }
}

@media screen and (min-width: 700px) {
    .about__studies--lists {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2em;
        width: 80%;
    }

    .section__portfolio--heading,
    .about--myself>h1,
    .slogan,
    .about--hobbies>h1,
    .section__contact>h1 {
        font-size: 40px;
    }

    .about--skillex>h2 {
        font-size: 40px;
    }

    .slogan__line {
        max-width: 700px;
    }

    .hero__intro {
        padding: 2em;
    }

    .hero__intro>h1 {
        font-size: 3em;
    }

    .hero__btn {
        padding: 2em 0 0 20px;
    }

    .hero__section--btn {
        padding: 1em 1.5em;
    }

}


@media screen and (min-width: 450px) {
    .hero__btn {
        display: flex;
        flex-direction: row;
        margin-top: 2em;
        justify-content: flex-start;
        align-items: center;
    }

    .hero__section--btn {
        margin: 0 1em;
    }
    .mobile-nav {
        padding: 2em;
        height: 40px;
    }
}

@media screen and (min-width: 1000px) {

    .section__portfolio>p,
    .about--myself>p,
    .about--hobbies>p,
    .section__contact>p {
        max-width: 900px;
        padding: 2em 0 0 3em;
    }

}

@media screen and (min-width: 500px) {
    .hero--section {
        padding: 0 0 0 3em;
    }

    .hero__intro>h2 {
        font-size: 45px;
    }

    .mobile-nav {
        padding: 2em;
        height: 40px;
    }
    #amanImg{
        width: 200px;
    }
}

@media screen and (max-width:870px) {
    .hero__intro{
        height: 49vh;
    }
    .hero--section > .content{
        padding-top: 3.3rem;
        /* border: 2px solid red; */
        font-size: 0.8rem;
    }
    .multitext{
        font-size: 2rem;
    }
    *{
        background-position: right;
    }
}




/* main Navigation - laptop */
@media screen and (min-width: 870px) {
    .mobile__nav--hidden {
        display: none;
    }

    /* main Navigation - laptop */
    .big__nav--hidden {
        display: block;
    }

    .nav-big {
        display: flex;
        /* justify-content: space-around; */
        align-items: center;
        flex-direction: column;
        width: 13rem;
        background-color: var(--main-bg);
        height: 100vh;
        position: fixed;
        lefT: 0;
        top: 0;
        right: auto;
        bottom: 0;
        z-index: 9;
        padding-top: 4em;
    }

    .nav {
        padding-top: 2.5em;
    }

    .nav__link {
        width: 6em;
        padding: .7em;
        border-radius: 5px;
        cursor: pointer;
    }

    .nav__link:hover {
        background-color: #262525;
    }

    .nav__link>a {
        color: var(--white);
    }

    .social-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
        padding-top: 1em;
    }

    .fa-github {
        cursor: pointer;
    }

    .fa-linkedin-in {
        color: #0e76a8;
        cursor: pointer;
    }

    .fa-hackerrank {
        color: green;
        cursor: pointer;
    }

    .main__body--container {
        margin-left: 13rem;
    }

    .hero__intro {
        padding: 2em;
        height: 60vh;
    }

    .hero__intro>h1 {
        font-size: 4em;
    }

    .hero__section--btn {
        padding: 1em 1.5em;
    }

    .hero--section {
        padding: 0 0 0 3em;
    }
}

@media screen and (max-width: 870px) {

    /* main Navigation - laptop */
    /* .big__nav--hidden {
        display: none;
    } */

    .nav-big {
        display: flex;
        /* justify-content: space-around; */
        align-items: center;
        flex-direction: column;
        width: 13rem;
        background-color: var(--main-bg);
        height: 100vh;
        position: fixed;
        top: 0;
        lefT: -1100px;
        right: auto;
        bottom: 0;
        z-index: 9;
        padding-top: 4em;
    }

    .nav {
        padding-top: 2.5em;
    }

    .nav__link {
        width: 6em;
        padding: .7em;
        border-radius: 5px;
        cursor: pointer;
    }

    .nav__link:hover {
        background-color: #262525;
    }

    .nav__link>a {
        color: var(--white);
    }

    .social-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
        padding-top: 1em;
    }

    .fa-github {
        cursor: pointer;
    }

    .fa-linkedin-in {
        color: #0e76a8;
        cursor: pointer;
    }

    .fa-hackerrank {
        color: green;
        cursor: pointer;
    }
}

@media screen and (max-width: 330px) {

    .fa-phone,
    .fa-location-dot,
    .fa-envelope,
    .contact__details--item>h2 {
        font-size: 20px;
    }

}