@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&family=Roboto+Slab:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}


:root {
    --primary-color: #edf2fc;
    --secondary-color: #1d1d1d;
    --main-bg: #1d1d1d;
    --bs-secondary: #6c757d;
    --white: white;

    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-cyan: #0dcaf0;
    --bs-gray-500: #787b7e;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
}

.light-theme {
    --primary-color: #000106;
    --secondary-color: #fff;
}


body {
    background-color: var(--secondary-color);
    font-family: 'Inconsolata', monospace;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 0.7px;
}

.icon__img {
    max-width: 30px;
}

.signature__img {
    max-width: 50px;
}

/* .main-navbar {
     filter: blur(9px);
} */

.mobile-nav {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.5em;
    background-color: var(--secondary-color);
    z-index: 99;
    overflow: hidden;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.fa-bars {
    color: var(--primary-color);
    cursor: pointer;
}

#amanImg {
    width: 15em;
    border-radius: 130px;
}

.nav__links {
    list-style: none;
}

.nav__link>a {
    text-decoration: none;
    color: var(--primary-color);
}

#sidebar_icon {
    height: 60px;
    padding: 1em 0 0.5em 1em;
    cursor: pointer;
}


.big__nav--hidden--2 {
    display: none;
}

.hero--main__hero {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
}

#hero--image__main {
    width: 40%;
    /* border: 2px solid red; */
}

#hero--image__main>img {
    width: 17em;
    border-radius: 130px;
    padding: 5em 0 0 0;
}




/* Hero Section */
.hero__intro {
    height: 30vh;
    /* border: 2px solid blue; */
}

.hero--section>.content {
    /* border: 2px solid green; */
    padding-top: 5rem;
}


.hero--section {
    padding: 1em;
}

.hero__intro>:first-child {
    font-size: 3.2em;
}

.span-h1 {
    color: #a48a63;
}

.hero__intro>h1 {
    color: var(--primary-color);
}

.hero__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid green; */
    /* margin-top: 2em; */
    margin-top: 6em;
}

.hero__section--btn {
    border: none;
    max-width: 150px;
    width: 90%;
    padding: .5em 1em;
    margin: 1em 0;
    border-radius: 5px;
    background-color: #545fc4;
    color: var(--primary-color);
    box-shadow: 0 0 3px #5b5fb7, 0 0 5px #52537e;
    text-decoration: none;
    cursor: pointer;
}

.hero__section--btn:hover {
    background-color: #4a56c2;
    box-shadow: 0 0 5px #6368d7, 0 0 8px #7778b2;

}

.hero__section--btn>a {
    text-decoration: none;
    color: var(--secondary-color);
}

.multitext {
    font-weight: 800;
    color: #00a2ed;
    text-transform: capitalize;
}

.text {
    position: relative;
    margin: 0;
    font-size: 2em;
    font-weight: 900;
    color: var(--secondary-color);
}


/* Portfolio section */
.slogan {
    color: var(--bs-cyan);
    margin: 1em 0 0 .3em;
}

.slogan__line {
    max-width: 400px;
    width: 80%;
    height: 2px;
    background-color: #545fc4;
    margin: .4em 0 1em .3em;
}


.section__portfolio--heading {
    color: var(--bs-cyan);
    margin: 0 0 1em .3em;
}

.section__portfolio>p {
    color: var(--primary-color);
    font-size: .7em;
    padding-top: 1em;
    margin: 0 0 0 .8em;
}


/* Portfolio list content */
.app__portfolio {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    margin-top: 2em;
}

.app__portfolio--list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-width: 45%;
    width: 30rem;

    position: relative;
    /* padding-top: 3em; */
    height: 30em;

    margin: 1em;

    box-shadow: rgb(92 92 107 / 25%) 0px 2px 5px -1px, rgb(105 105 105 / 30%) 0px 1px 3px -1px;
}

.app__portfolio--list:hover {
    box-shadow: rgba(114, 114, 133, 0.80) 0px 2px 5px -1px, rgba(187, 187, 187, 0.3) 0px 1px 3px -1px;
}

.app__portfolio--list>h3 {
    font-size: 1em;
    color: var(--primary-color);
    padding-top: .4em;
}




.app__portfolio--list p {
    font-size: .9em;
    color: var(--primary-color);
    padding-bottom: .3em;
    padding-top: .3em;
}

.projects-ptag {
    font-size: .9em;
    color: var(--primary-color);
    padding: .8em 3.5em;

}



.fa-github,
.fa-eye {
    color: var(--primary-color);
}

.app__portfolio--img {
    width: 80%;
}

.app__portfolio--img:hover {
    cursor: pointer;
}

.app__portfolio--view {
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* max-width: 7em; */
    width: 100%;
    /* padding: 0 3.5em; */
    padding: 4px 1.5em;
    margin-top: 1em;


}

.app__portfolio--view>a {
    background-color: var(--secondary-color);
    padding: .5em;
    border-radius: 5px;
    opacity: 0.75;
    text-decoration: none;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: #5d5e62;
}

.app__portfolio--view>a>span {
    text-decoration: none;
}


.hidden {
    display: none;
}

.fa-eye {
    font-size: 30px;
}


/* About Section */
.about--myself>h1 {
    color: var(--bs-cyan);
    margin: 1em 0 0 .3em;
}

.line {
    max-width: 200px;
    width: 80%;
    height: 2px;
    background-color: #545fc4;
    margin: .4em 0 1em .3em;
}

.about--myself>p {
    color: var(--primary-color);
    font-size: .7em;
    padding-top: 1em;
    margin: 0 0 0 0.8em;
}

.about--skillex {
    margin: 4em 0;
}

.about--skillex>h2 {
    color: var(--bs-cyan);
    margin: 1em 0 1em .3em;
}

.about--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}

.about--skillicon {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 3em;
    width: 70%;
}

.icon__container>img {
    width: 6em;
}

.icon__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid black; */
    box-shadow: rgba(92, 92, 107, 0.25) 0px 2px 5px -1px, rgba(105, 105, 105, 0.3) 0px 1px 3px -1px;
    padding: 1.2em;
}

.icon__container:hover {
    box-shadow: rgba(114, 114, 133, 0.80) 0px 2px 5px -1px, rgba(187, 187, 187, 0.3) 0px 1px 3px -1px;

}

.icon__container h3 {
    color: var(--primary-color);
}

.teck-stack {
    color: var(--primary-color);
}

.about__studies--lists {
    display: flex;
    flex-direction: column;
    gap: 2em;
}


.studies--list {
    background-color: #323863;
    max-width: 20em;
    border-radius: 20px;
    padding: 1em;
}

.studies__list--header {
    display: flex;
    gap: .4em;
}

.fa-graduation-cap {
    color: var(--primary-color);
}

.studies__list--headerdata>h3 {
    color: var(--primary-color);
}

.studies__list--headerdata>p {
    color: var(--primary-color);
    font-size: 13px;
    opacity: .7;
}

.studies--list>p {
    color: var(--secondary-color);
    margin: 0 2.7em;
    opacity: .9;
}

.studies__list--headericon {
    background-color: var(--primary-color);
    padding: .6em;
    opacity: .5;
    border-radius: 50%;
}


/* My Stubies */
.qualification__data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}

.qualification__title {
    color: var(--secondary-color);
}

.qualification__subtitle {
    display: inline-block;
    margin-bottom: 1em;
    color: var(--secondary-color);
}

.qualification__rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: #1C2040;
    border-radius: 50%;
}

.qualification__line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: #1C2040;
    transform: translate(6px, -7px);
}

/* .about--stubies>h1 {
    color: var(--bs-cyan);
    margin: 1em 0 0em 0.3em;
}

.about--stubies>p {
    color: var(--white);
    font-size: .7em;
    padding-top: 1em;
    margin: 0 0 0 0.8em;
}

.about__studies--lists {
    display: flex;
    flex-direction: column;
} */



/* Statistics section */

.about--statistics>h1 {
    color: var(--bs-cyan);
    font-size: 40px;
}


.statistics--lists {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 2em;
    padding: 3em;
}


.statistics--item {
    flex: 1 1 20rem;
    text-align: center;
    flex-direction: column;
    height: 22em;
    border-radius: 5px;
    padding: 2em;
    background: #1c2040;
}

.statistics--item:hover {
    background: #232850;
}


.statistics--item>img {
    max-width: 12em;
    width: 80%;
    padding-bottom: 1em;
}

.statistics--item img:hover {
    max-width: 13em;
    width: 90%;
}

.statistics--item>h2 {
    color: var(--primary-color);
    opacity: .9;
}




.section__contact>h1 {
    color: var(--bs-cyan);
    margin: 2em 0 0 0.3em;
}

.section__contact>p {
    color: var(--primary-color);
    font-size: .7em;
    padding-top: 1em;
    margin: 0 0 3em 0.8em;
}



/* form */

.contact__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5em;
}



.main__contact>input,
#massage {
    background: #2b2b2b;
    color: #8d8d8d;
    max-width: 500px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 8px;
    padding: 0 20px;
    margin: 10px 0;
    font-size: 16px;
    outline: none;
}

.main__contact>input:hover,
#massage:hover {
    outline: #0d6efd solid 2px;
}

.btn {
    border: none;
    font-size: 17px;
    padding: .5em 1em;
    border-radius: 5px;
    margin: 1.5em 0 0 0;
    color: rgb(77, 0, 0);
    background-color: #00b99c;
    box-shadow: 0 0 3px #51b3a4, 0 0 5px #03daba;
    cursor: pointer;
}

.btn:hover {
    background-color: #00bea2;
    box-shadow: 0 0 5px #51b3a4, 0 0 8px #03daba;

}


.contact__Info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.contact__details {
    /* padding-top: 2em; */
}

.contact__details--item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin: 2em 0;
}

.fa-envelope,
.fa-phone,
.fa-location-dot {
    color: rgb(186, 186, 186);
    font-size: 30px;
}

.contact__details--item>h2 {
    color: var(--primary-color);
}


.social-icon-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 2em;
    padding-bottom: 4em;
}

.social-icon-footer>i:hover {
    cursor: pointer;
}

.fa-github {
    font-size: 30px;
    cursor: pointer;
}

.fa-linkedin-in {
    font-size: 30px;
    color: #0e76a8;
    cursor: pointer;
}

.fa-hackerrank {
    font-size: 30px;
    color: green;
    cursor: pointer;
}

.fa-twitter {
    font-size: 30px;
    color: #1DA1F2;
}


/* reveal while scrolling */
.section {
    transition: transform 1s, opacity 1s;
}

.section--hidden {
    opacity: 0;
    transform: translateY(8rem);
}







/* Media Query */
@media screen and (min-width: 300px) {
    .mobile-nav {
        padding: 1em;
    }

    .signature__img {
        max-width: 75px;
    }

    .hero__intro {
        padding: 1em;
    }

    .hero__intro>h1 {
        font-size: 4em;
    }

    .app__portfolio--view {
        top: 34%;
    }

    .contact__form {
        display: block;
    }

    .hero__section--btn {
        padding: 1em 1.5em;
    }

    .slogan {
        margin: 2em 0 0 .3em;
        font-size: 30px;
    }

    .slogan__line {
        max-width: 500px;
        width: 95%;
        height: 2px;
        background-color: #545fc4;
        margin: .6em 0 1em .3em;
    }

    .section__portfolio--heading,
    .about--myself>h1 {
        font-size: 28px;
        margin: 1.7em 0 0em 0.3em;
    }

    .about--skillex>h2 {
        font-size: 28px;
        margin: 1.7em 0 2.5em 0.3em;
    }

    .section__portfolio>p,
    .about--myself>p,
    .about--hobbies>p {
        color: var(--primary-color);
        font-size: 16px;
        padding-top: 1em;
        margin: 0 0 0 .8em;
    }

    .section__contact>p {
        font-size: 16px;
    }

    .contact__form,
    .main__contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

@media screen and (min-width: 220px) {
    .hero__intro {
        padding: 4em 0 0 2em;
    }

    .hero__intro>h1 {
        font-size: 2.5em;
    }

    .hero__section--btn {
        padding: .7em 1.2em;
    }

    #amanImg {
        width: 9.5em;
        /* border-radius: 100px; */
    }
}

@media screen and (min-width: 400px) {
    .app__portfolio--view {
        top: 40%;
    }

    .hero__btn {
        display: flex;
        flex-direction: row;
        margin-top: 2em;
        justify-content: space-around;
        align-content: space-between;
        align-items: center;
    }

    #amanImg {
        width: 8.5em;
        /* border-radius: 100px; */
    }
}

@media screen and (max-width: 190px) {
    .studies--list>p {
        color: var(--secondary-color);
        margin: 0 2.7em;
        font-size: 10px;
        opacity: .9;
    }

    .studies__list--headerdata>h3 {
        font-size: 10px;
    }

    .studies--list {
        padding: 0.5em;
    }

    .studies--list>p {
        margin: 0 4.6em;
        margin-top: -11px;
    }

    #amanImg {
        width: 9.5em;
        border-radius: 100px;
    }

    .hero__intro {
        height: 40vh;
    }

    .hero--section>.content {
        padding-top: 2.6rem;
        font-size: 1rem;
    }

    .multitext {
        font-size: 2rem;
    }

    #hero--image__main>img {
        width: 8em;
    }
}

@media screen and (max-width: 700px) {
    .about--statistics>h1 {
        font-size: 25px;
        margin: 0 0 0 0.3em;
    }
}

@media screen and (min-width: 700px) {
    .about__studies--lists {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2em;
        width: 80%;
    }

    .section__portfolio--heading,
    .about--myself>h1,
    .slogan,
    .about--hobbies>h1,
    .section__contact>h1 {
        font-size: 40px;
    }

    .about--skillex>h2 {
        font-size: 40px;
    }

    .slogan__line {
        max-width: 700px;
    }

    .hero__intro {
        padding: 4em 0 0 2em;
    }

    .hero__intro>h1 {
        font-size: 3em;
    }

    .hero__btn {
        padding: 2em 0 0 20px;
    }

    .hero__section--btn {
        padding: 1em 1.5em;
    }

}


@media screen and (min-width: 450px) {
    .hero__btn {
        display: flex;
        flex-direction: row;
        margin-top: 0em;
        justify-content: flex-start;
        align-items: center;
    }

    .hero__section--btn {
        margin: 0 1em;
    }

    .mobile-nav {
        padding: 2em;
        height: 40px;
    }
}

@media screen and (min-width: 1000px) {

    .section__portfolio>p,
    .about--myself>p,
    .about--hobbies>p,
    .section__contact>p {
        max-width: 900px;
        padding: 2em 0 0 3em;
    }
}

@media screen and (max-width: 1000px) {
    .hero--main__hero {
        flex-direction: column;
    }
}

@media screen and (min-width: 500px) {
    .hero--section {
        padding: 0 0 0 3em;
    }

    .hero__intro>h2 {
        font-size: 45px;
    }

    .mobile-nav {
        padding: 2em;
        height: 40px;
    }


}

/* skill
 */

@media screen and (max-width: 1050px) {
    .about--skillicon {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 530px) {
    .about--skillicon {
        grid-template-columns: repeat(2, 100px);
        width: 80%;
        justify-content: center;
        row-gap: 30px;

    }

    .icon__container {
        margin: auto;
    }

    .icon__container>img {

        width: 100px;
    }

}

@media screen and (max-width: 500px) {
    #amanImg {
        width: 9.5em;
    }
}

@media screen and (max-width:870px) {
    .hero__intro {
        height: 49vh;
    }

    .hero--section>.content {
        padding-top: 3.3rem;
        /* border: 2px solid red; */
        font-size: 0.8rem;
    }

    .multitext {
        font-size: 2rem;
    }

    * {
        background-position: right;
    }

    /* #hero--image__main>img {
        width: 20em;
    } */

    #hero--image__main {
        display: none;
    }
}




/* main Navigation - laptop */
@media screen and (min-width: 870px) {
    .mobile__nav--hidden {
        display: none;
    }

    /* main Navigation - laptop */
    .big__nav--hidden {
        display: block;
    }

    .nav-big {
        display: flex;
        /* justify-content: space-around; */
        align-items: center;
        flex-direction: column;
        width: 13rem;
        background-color: var(--secondary-color);
        height: 100vh;
        position: fixed;
        lefT: 0;
        top: 0;
        right: auto;
        bottom: 0;
        z-index: 9;
        padding-top: 2em;
    }

    .nav {
        padding-top: 2.5em;
    }

    .nav__link {
        width: 6em;
        padding: .7em;
        border-radius: 5px;
        cursor: pointer;
    }

    .nav__link:hover {
        background-color: #262525;
    }

    .nav__link>a {
        color: var(--primary-color);
    }

    .social-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
        padding-top: 1em;
    }

    .fa-github {
        cursor: pointer;
    }

    .fa-linkedin-in {
        color: #0e76a8;
        cursor: pointer;
    }

    .fa-hackerrank {
        color: green;
        cursor: pointer;
    }

    .main__body--container {
        margin-left: 13rem;
    }

    .hero__intro {
        padding: 7em 2em;
        height: 60vh;
    }

    .hero__intro>h1 {
        font-size: 4em;
    }

    .hero__section--btn {
        padding: 1em 1.5em;
    }

    .hero--section {
        padding: 0 0 0 3em;
    }

    #amanImg {
        width: 9.5em;
    }
}




@media screen and (max-width: 870px) {

    .big__nav--hidden {
        display: none;
    }

    /* main Navigation - laptop */
    .big__nav--hidden--2 {
        display: none;
    }

    .static-components {
        display: flex;
        flex-direction: column;
        padding: 0 1em;
    }

    .nav-big--2 {
        display: flex;
        /* justify-content: space-around; */
        align-items: center;
        flex-direction: column;
        width: 13rem;
        background-color: var(--secondary-color);
        height: 106vh;
        position: fixed;
        top: 0;
        lefT: -1100px;
        right: auto;
        bottom: 0;
        z-index: 9;
        padding-top: 4em;
    }

    .nav--2 {
        padding-top: 2.5em;
    }

    .nav__link--2 {
        width: 6em;
        padding: .7em;
        border-radius: 5px;
        cursor: pointer;
    }

    .nav__link--2:hover {
        background-color: #262525;
    }

    .nav__link--2>a {
        color: var(--primary-color);
    }

    .nav__links--2 {
        list-style-type: none;
    }

    .nav__links--2>li>a {
        text-decoration: none;
    }

    .social-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
        padding-top: 1em;
    }

    .fa-github {
        cursor: pointer;
    }

    .fa-linkedin-in {
        color: #0e76a8;
        cursor: pointer;
    }

    .fa-hackerrank {
        color: green;
        cursor: pointer;
    }
}

@media screen and (max-width: 330px) {

    .fa-phone,
    .fa-location-dot,
    .fa-envelope,
    .contact__details--item>h2 {
        font-size: 20px;
    }

    #hero--image__main>img {
        width: 15em;
    }

}



/* -----> staics part */


.static-components {
    display: flex;
    padding: 0 1em;
}

/* for styles cursor */

.cursor {
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px solid #c6c6c6;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .1s;
}

.cursor2 {
    position: fixed;
    width: 8px;
    height: 8px;
    background-color: #c6c6c6;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .15s;
}


/* github container style */

.github-first-container {
    margin-top: 3em;
}

.github-first-container>a {

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;

}

.github-first-img {
    width: 90%;

}

.github-calendar {

    width: 95%;
    margin: 0 auto;
    margin-top: 1em;

}

.calendar {
    min-height: 100px !important;
}

@media screen and (max-width: 1300px) {


    .github-calendar {

        padding: 2em;

    }

    .github-first-container>a {

        grid-template-rows: 1fr;
        grid-row: 1 / span 2;

    }

}

@media screen and (max-width: 430px) {

    .projects-ptag {
        font-size: .9em;
        color: var(--primary-color);
        padding: 0.8em 0.7em;
    }

    .contact__details--item>h2 {
        font-size: 1.3em;
    }

}